:root {
    --crimson: #dc143c;
    --white: #ffffff;
    --navy-blue: #001f3f;
}
        body {
            font-family: 'Cambria Math', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            line-height: 2;
            background-color: var(--crimson);
            color: var(--navy-blue);
        }

        section {
            padding: 20px;
            text-align: left;
            background-color: var(--white);
            margin: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
/* Style for the intro section */
.intro-section {
    background-color: var(--crimson);
    color: var(--white);
}

/* Style for the highlight section */
.highlight-section {
    background-color: var(--white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for the guide section */
.guide-section {
    background-color: var(--white);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for the about section */
.about-section {
    background-color: var(--white);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Additional styles as needed */


h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
    
}

        h2 {
            color: var(--crimson);
        }
    
        /* Style for the navigation menu */
nav {
    background-color: #333;
    padding: 15px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: var(--white);
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    color: #ffcc00;
}

/* Add this CSS to style the dropdown */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
